<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>  Registered Users
        </div>
        <div class="card-body">
          <!-- Contact List table-->
          <table class="table table-striped table-hover table-condensed table-sm">
            <thead>
            <tr>
              <th>No</th>
              <th>Full Name</th>
              <th>User Name</th>
              <th>Account Status</th>
              <th>Created Date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr *ngFor="let user of this.User_list_paginator.data; let i = index ;">
              <td>{{i +1 }}</td>
              <td>{{user.fullname}} </td>
              <td>{{user.username}}</td>
              <td>
                <label class="switch switch-sm switch-3d switch-primary">
                <input type="checkbox" [(ngModel)]="user.Account_status" (change)="activate(user)" class="switch-input" checked>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
              </td>
              <td>{{user.created_at}}</td>
              <td>
                <span class="badge badge-danger">    <a  data-toggle="modal" (click)="ondelete(user.id)"><i class="fa fa-remove"></i>&nbsp;Remove</a></span>
                <span class="badge badge-success">    <a  data-toggle="modal" (click)="editModal.show(); onEditUser(user)"><i class="fa fa-edit"></i>&nbsp;Edit</a></span>
              </td>
            </tr>

            </tbody>
          </table>



          <ul class="pagination">
            <li *ngIf="User_list_paginator.first_page_url"  class="page-item"><a  (click)="getPaginatedUser(User_list_paginator.first_page_url)" class="btn-link" >First</a></li>
            <li *ngIf="User_list_paginator.prev_page_url"  class="page-item"><a  (click)="getPaginatedUser(User_list_paginator.prev_page_url)" class="btn-link" >Prev</a></li>
            <li class="page-item active">
              <a class="page-link" >{{User_list_paginator.current_page + '/' + User_list_paginator.last_page}}</a>
            </li>


            <li *ngIf="User_list_paginator.next_page_url"  class="page-item"><a  (click)="getPaginatedUser(User_list_paginator.next_page_url)" class="page-link" >Next</a></li>
            <li *ngIf="User_list_paginator.last_page_url"  class="page-item"><a  (click)="getPaginatedUser(User_list_paginator.prev_page_url)" class="page-link" >Last</a></li>
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->


    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>  Create User Account
        </div>
        <div class="card-body">
  <form  (ngSubmit)="onAdduser(add)" #add="ngForm">
    <!--Full Name -->
    <div class="row">
      <label for="fullname"></label>
      <div class="form-group col-sm-12">
        <label for="fullname" >Full Name</label>
        <input type="text" class="form-control" id="fullname" placeholder=" Full Name" [(ngModel)]="fullname" name="fullname" required>
      </div>
      <label for="username"></label>
      <div class="form-group col-sm-12">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" placeholder="User Name" [(ngModel)]="username" name="username" required>
      </div>
      <label for="password"></label>
      <div class="form-group col-sm-12">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password" required>
      </div>
      <div class="form-group col-sm-12">
        <label for="phonenumber">Phone Number</label>
        <input type="text" class="form-control" id="phonenumber" placeholder="phonenumber" [(ngModel)]="phonenumber" name="phonenumber" required>
      </div>
      <div class="form-group col-sm-12">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" #em="ngModel" placeholder="email" [(ngModel)]="email" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      </div>
      <div class="form-group col-sm-12">
        <label for="role_id">User Privilage</label>
        <select class="form-control" id="role_id" [(ngModel)]="role_id" name="role_id">
          <option  *ngFor="let roles of role" value="{{roles.id}}">{{roles.role_name}}</option>
          <!--<option value="2">Owner</option>-->
          <!--<option value="3">Viewer</option>-->

        </select>
      </div>
      <div class="form-group col-sm-12 ">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!add.valid">Save User</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>

    </div>
  </form>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<!--Edit modal-->
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-edit modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit User Account</h4>
        <button type="button" class="close" (click)="editModal.hide() " aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong></strong>
              <small>Account FORM</small>
            </div>
            <div class="card-body">




              <form  (ngSubmit)="onUserUpdate(edit)" #edit="ngForm">
                <!--Full Name -->
                <div class="row">
                  <label for="fullname"></label>
                  <div class="form-group col-sm-12">
                    <label for="fullname" >Full Name</label>
                    <input type="text" class="form-control" id="fullname" placeholder=" Full Name" [(ngModel)]="users_list.fullname" name="fullname" required>
                  </div>
                  <label for="username"></label>
                  <div class="form-group col-sm-12">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="User Name" [(ngModel)]="users_list.username" name="username" required>
                  </div>
                  <label for="password"></label>
                  <div class="form-group col-sm-12">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Password" [(ngModel)]="users_list.password" name="password" required>
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="phonenumber">Phone Number</label>
                    <input type="text" class="form-control" id="phonenumber" placeholder="phonenumber" [(ngModel)]="users_list.phonenumber" name="phonenumber" required>
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="email" [(ngModel)]="users_list.email" name="email" required>
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="role_id">User Privilage</label>
                    <select class="form-control" id="role_id" [(ngModel)]="users_list.role_id" name="role_id">
                      <option  *ngFor="let roles of role" value="{{roles.id}}">{{roles.role_name}}</option>
                      <!--<option value="2">Owner</option>-->
                      <!--<option value="3">Viewer</option>-->

                    </select>
                  </div>
                  <div class="form-group col-sm-12 ">
                    <button type="submit" class="btn btn-primary pull-right" (click)="editModal.hide()" [disabled]="!edit.valid">Update User</button>
                  </div>

                </div>
              </form>


            </div>
          </div>
        </div><!--/.col-->

      </div>
      <div class="modal-footer">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


