<div class="animated fadein">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5> <i class="fa fa-align-justify"></i> Contact Lists</h5>
        <button type="button" class="btn btn-info pull-right " data-toggle="modal" (click)="largeModal.show()">
           Add Contact
        </button>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover table-condensed table-sm">
          <thead>
            <tr>
              <th>No</th>
              <th>Full Name</th>
              <th>Phone Number</th>
              <th>Email Adress</th>
              <th>Sex</th>
              <th>Location</th>
              <th>Note</th>
              <th>Created on</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.id}}</td>
              <td>{{contact.firstname}} </td>
              <td>{{contact.mobilenumber}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.sex}}</td>
              <td>{{contact.region}}</td>
              <td>{{contact.occupation}}</td>
              <td>{{contact.created_at}}</td>
              <td>
           <span class="badge badge-success">    <a  data-toggle="modal" (click)="editModal.show(); onedit(contact)">Edit Info</a></span>

              </td>
            </tr>

          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>



<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Contact registration</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



 <div class="col-sm-12">
       <div class="card">
           <div class="card-header">
                    <strong>ADD</strong>
                    <small>Contact</small>
                  </div>
<div class="card-body">
      <form  (ngSubmit)="onSubmit(f)" #f="ngForm" >


  <!--Full Name -->
       <div class="row">
          <label  class="col-sm-5"></label>
          <div class="form-group col-sm-7">
            <label >First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter your first name" [(ngModel)]="firstname" name="firstname" required>
          </div>
          <label  class="col-sm-5"></label>
          <div class="form-group col-sm-7">
              <label >Middle Name</label>
              <input type="text" class="form-control" id="middlename" placeholder="Enter your middle name" [(ngModel)]="middlename" name="middlename" required>
            </div>
            <label  class="col-sm-5"></label>
            <div class="form-group col-sm-7">
                <label >Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter your last name" [(ngModel)]="lastname" name="lastname" required>
              </div>
              <label  class="col-sm-5">
                  <input #fileInput type="file" id="image" [(ngModel)]="image" name="image">
              </label>
              <div class="form-group col-sm-4">
                  <label>Sex</label>
                  <select class="form-control" id="sex" [(ngModel)]="sex" name="sex">
                    <option>Male</option>
                    <option>Female</option>

                  </select>
                </div>
                <div class="form-group col-sm-3">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" placeholder="Enter your age" [(ngModel)]="age" name="age" >
                  </div>
          </div>
   <!--Adress-->
        <div class="row">
            <label class="col-sm-2" for="city"><h6>Adress:</h6></label>
            <div class="form-group col-sm-6">
              <label for="region">Region</label>
              <input type="text" class="form-control" id="region" placeholder="enter your region" [(ngModel)]="region" name="region" >
            </div>
            <div class="form-group col-sm-4">
              <label for="wereda">Wereda</label>
              <input type="text" class="form-control" id="wereda" placeholder="enter your wereda" [(ngModel)]="wereda" name="wereda" >
            </div>
            <label class="col-sm-2" for="city"></label>
            <div class="form-group col-sm-6">

                <label for="kebele">Kebele</label>
                <input type="text" class="form-control" id="kebele" placeholder="enter your kebele" [(ngModel)]="kebele" name="kebele">
              </div>
              <div class="form-group col-sm-4">
                <label for="postal-code">H.NO</label>
                <input type="text" class="form-control" id="housenumber" placeholder="enter your house number" [(ngModel)]="housenumber" name="housenumber" >
              </div>
          </div><!--/.row-->
  <!--telephone-->
            <div class="row">
                <label class="col-sm-2" for="city"><h6>TelePhone:</h6></label>
                <div class="form-group col-sm-6">
                  <label for="off">Office.NO</label>
                  <input type="text" class="form-control" id="officenumber" placeholder="enter your office number" [(ngModel)]="officenumber" name="officenumber" >
                </div>
                <div class="form-group col-sm-4">
                  <label for="mobilenumber">Mob.NO</label>
                  <input type="text" class="form-control" id="mobilenumber" placeholder="enter your mobile number" [(ngModel)]="mobilenumber" name="mobilenumber" required>
                </div>
                <label class="col-sm-2" for="city"></label>
                <div class="form-group col-sm-6">

                    <label for="resnumber">Residence.NO</label>
                    <input type="text" class="form-control" id="resnumber" placeholder="enter your residence number" [(ngModel)]="resnumber" name="resnumber" >
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="postal-code">P.O.BOX</label>
                    <input type="text" class="form-control" id="pobox" placeholder="enter your postal number" [(ngModel)]="pobox" name="pobox" >
                  </div>
              </div><!--/.row-->
              <div class="form-group">
                  <label for="email">Email Adress</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter email adress name" [(ngModel)]="email" name="email" >
                </div>
              <div class="row">
                  <div class="form-group col-sm-4">
                      <label for="synod">Synod</label>
                      <input type="text" class="form-control" id="synod" placeholder="enter your Synodos" [(ngModel)]="synod" name="synod" >
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="cong">Cong</label>
                        <input type="text" class="form-control" id="cong" placeholder="enter your congregation" [(ngModel)]="cong" name="cong" >
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="occupation">Occupation</label>
                          <input type="text" class="form-control" id="occupation" placeholder="enter your occupation" [(ngModel)]="occupation" name="occupation" >
                        </div>
              </div>



                      <!-- <div class="form-group">
                          <label  for="discription">Discription</label>
                          <textarea id="discription" name="discription" rows="3" class="form-control" placeholder="Content.." [(ngModel)]="discription" name="discription"></textarea>
                     </div> -->
                     <button type="submit"  class="btn btn-primary">ADD</button>
                  <button type="submit" (click)="addFile()" class="btn btn-primary">Upload</button>
                    </form>


             </div>
      </div>
  </div><!--/.col-->

</div>
<div class="modal-footer">

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!--Edit modal-->



<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Contact registration</h4>
          <button type="button" class="close" (click)="editModal.hide() " aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



   <div class="col-sm-12">
         <div class="card">
             <div class="card-header">
                      <strong>Contacts</strong>
                      <small>Registration FORM</small>
                    </div>
  <div class="card-body">
        <form  (ngSubmit)="onupdate(edit)" #edit="ngForm">


    <!--Full Name -->
         <div class="row">
            <label for="firstname" class="col-sm-5"></label>
            <div class="form-group col-sm-7">
              <label for="firstname" >First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter your first name" [(ngModel)]="contactnew.firstname" name="firstname" required>
            </div>
            <label for="firstname" class="col-sm-5"></label>
            <div class="form-group col-sm-7">
                <label for="middlename">Middle Name</label>
                <input type="text" class="form-control" id="middlename" placeholder="Enter your middle name" [(ngModel)]="contactnew.middlename" name="middlename" required>
              </div>
              <label for="firstname" class="col-sm-5"></label>
              <div class="form-group col-sm-7">
                  <label for="lastname">Last Name</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Enter your last name" [(ngModel)]="contactnew.lastname" name="lastname" required>
                </div>
                <label for="firstname" class="col-sm-5">
                    <input type="file" id="file-input" name="file-input">
                </label>
                <div class="form-group col-sm-4">
                    <label for="sex">Sex</label>
                    <select class="form-control" id="sex" [(ngModel)]="contactnew.sex" name="sex">
                      <option>Male</option>
                      <option>Female</option>

                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                      <label for="age">Age</label>
                      <input type="text" class="form-control" id="age" placeholder="Enter your age" [(ngModel)]="contactnew.age" name="age" >
                    </div>
            </div>
     <!--Adress-->
          <div class="row">
              <label class="col-sm-2" for="city"><h6>Adress:</h6></label>
              <div class="form-group col-sm-6">
                <label for="region">Region</label>
                <input type="text" class="form-control" id="phonenumber" placeholder="enter your region" [(ngModel)]="contactnew.region" name="region" required>
              </div>
              <div class="form-group col-sm-4">
                <label for="wereda">Wereda</label>
                <input type="text" class="form-control" id="wereda" placeholder="enter your wereda" [(ngModel)]="contactnew.wereda" name="wereda" >
              </div>
              <label class="col-sm-2" for="city"></label>
              <div class="form-group col-sm-6">

                  <label for="kebele">Kebele</label>
                  <input type="text" class="form-control" id="kebele" placeholder="enter your kebele" [(ngModel)]="contactnew.kebele" name="kebele">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">H.NO</label>
                  <input type="text" class="form-control" id="housenumber" placeholder="enter your house number" [(ngModel)]="contactnew.housenumber" name="housenumber" >
                </div>
            </div><!--/.row-->
    <!--telephone-->
              <div class="row">
                  <label class="col-sm-2" for="city"><h6>TelePhone:</h6></label>
                  <div class="form-group col-sm-6">
                    <label for="off">Office.NO</label>
                    <input type="text" class="form-control" id="officenumber" placeholder="enter your office number" [(ngModel)]="contactnew.officenumber" name="officenumber" >
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="mobilenumber">Mob.NO</label>
                    <input type="text" class="form-control" id="mobilenumber" placeholder="enter your mobile number" [(ngModel)]="contactnew.mobilenumber" name="mobilenumber" required>
                  </div>
                  <label class="col-sm-2" for="city"></label>
                  <div class="form-group col-sm-6">

                      <label for="resnumber">Residence.NO</label>
                      <input type="text" class="form-control" id="resnumber" placeholder="enter your residence number" [(ngModel)]="contactnew.resnumber" name="resnumber" >
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="postal-code">P.O.BOX</label>
                      <input type="text" class="form-control" id="pobox" placeholder="enter your postal number" [(ngModel)]="contactnew.pobox" name="pobox" >
                    </div>
                </div><!--/.row-->
                <div class="form-group">
                    <label for="email">Email Adress</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email adress name" [(ngModel)]="contactnew.email" name="email" required>
                  </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="synod">Synod</label>
                        <input type="text" class="form-control" id="synod" placeholder="enter your Synodos" [(ngModel)]="contactnew.synod" name="synod" >
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="cong">Cong</label>
                          <input type="text" class="form-control" id="cong" placeholder="enter your congregation" [(ngModel)]="contactnew.cong" name="cong" >
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="occupation">Occupation</label>
                            <input type="text" class="form-control" id="occupation" placeholder="enter your occupation" [(ngModel)]="contactnew.occupation" name="occupation" >
                          </div>
                </div>

                       <button type="submit" class="btn btn-primary">Update Info</button>

                      </form>
             <button class="btn btn-danger pull-right"  (click)="ondelete()">Delete Contact</button>
    <!--<popup  #popup1>-->
      <!--Add your own html elements here-->
    <!--</popup>-->

               </div>
        </div>
    </div><!--/.col-->

  </div>
  <div class="modal-footer">

  </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
